
/* CSS Document*/
body {
    font-family: sans-serif;
  }
  .header {
    background-color: #ffec97;
    color: rgb(0, 0, 0);
    height: 90px;
  }
  
  .header img {
    height: 90px;
    width: 120px;
    float: left;
  }

  #menu-kanan ul {
    float: right;
    list-style: none;
  }
  #menu-kanan ul li {
    text-align: center;
    float: left;
  }
  #menu-kanan ul li a{
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 150%;
    padding: 10px 20px;
    line-height: 40px
  }
  #menu-kanan ul li a:hover{
    background-color: rgb(250, 151, 23);
    color: #070707;
  }

  .main {
    background-color: #e2f1f0;
    height: 950px;
    width: 100%;
  }
  .sub-main {
    background-color: aquamarine;
  }
  .sub-main h1 {
    font-size: 100px;
    font-family: cursive;
    margin-bottom: 5px;
    text-align: center;
  }
  .sub-main h2 {
    font-size: 50px;
    font-family: 'lucida handwriting';
    margin-top: 5px;
    text-align: center;
  }

  
/*bagian menu*/
  .menu-wrapper {
    text-align: center;
  }
  .menu-list {
    padding-top: 20px;
  }
  .menu {
    float: left;
    width: 25%;
  }
  .menu-icon {
    position: relative;
  }
  .menu-icon p {
    position: absolute;
    top: 20px;
    width: 100%;
    font-weight: bold;
  }
  .menu-icon img {
    border-radius: 20px;
    
    height: 100px;
    width: 190px;
    opacity: 0.6;
  }
  .menu-icon img:hover{
    opacity: 1.0;
  }
  .txt-short {
    display: inline-block;
    width: 75%;
    font-size: 14px;
    color:#535c68;
    padding: 10px 0;
  }

  /* info reservasi */
  .container {
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.info-reservasi {
    height: 400px;
    padding-bottom: 20px;
    background-color: #e2f1f0;
    
}
.info-reservasi p {
    font-size: 12px;
    letter-spacing: 5px;
    padding-bottom: 10px;
    color: #857e8a
}

input {
    border: 1px solid #d4d9db;
    width: 300px;
    padding-bottom: 10px;;
}

textarea {
    border: 1px solid #d4d9db;
    width: 300px;
    padding-bottom: 10px;;
}

.info-submit {
    background-color: #4b4c4d;
    color:#889eab ;
    cursor: pointer;
    opacity: 0.5;
}

.info-submit:hover {
    opacity: 0.8;
}
 
/*footer*/
.footer {
  background-color: #ceccf3;
  height: 80px;
}

.logo-footer {
  float: left;
}

.logo-footer {
  width: 120px;
  height: 80px;
}
.footer p {
  float: right;
  margin-right: 20px;
  color: white;
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 24px;
  font-family: "Lucida Grande";
}
